
a, a:hover, a:active, a:focus{
	text-decoration: none;
}

blockquote .small::before, blockquote footer::before, blockquote small::before {
    content:"";
}

span.req{
	color: #e20606;
}

ul, ol{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

blockquote{
	border-left: 5px solid #FF9000;
}

blockquote h4{
	margin: 0 0 6px;
}

blockquote ol li{
	margin-bottom: 5px;
}

blockquote ol li mark{
	background: #F9FF34;
}
body{background: #ECEFF4;}

@font-face {
    font-family: 'archivo_blackregular';
    src: url('../fonts/archivoblack/archivoblack-regular-webfont.eot');
    src: url('../fonts/archivoblack/archivoblack-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivoblack/archivoblack-regular-webfont.woff2') format('woff2'),
         url('../fonts/archivoblack/archivoblack-regular-webfont.woff') format('woff'),
         url('../fonts/archivoblack/archivoblack-regular-webfont.ttf') format('truetype'),
         url('../fonts/archivoblack/archivoblack-regular-webfont.svg#archivo_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.print-banner{
	width: 100%;
	margin-bottom: 20px;
}
.print-time{
	font-size: 12px;
	color: #ddd;
}

.content-fixed-nav{
	position: fixed;
	top: 0;
	z-index: 100;
	height: 65px;
	background: #fff;
	border-bottom: 1px solid #d8e2e7;
}
.content-fixed-nav i{font-size: 20px;}
.content-fixed-nav ul li{
	float: left;
	cursor: pointer;
}
.content-fixed-nav > ul li a{
	line-height: 65px;
	color: #ADB7BE;
	padding: 0 10px;
	display: block;
	text-align: center;
	position: relative;
}

a .fa-angle-right{display: none;}
a.icon-change .fa-angle-right{display: inline-block;}
a.icon-change .fa-angle-left{display: none;}

.main-area{margin-top: 45px;}

.main-area-sub{
	margin-top: 15px;
}

h3.sidebar-brand{
	margin: 0;
	/*text-indent: 20px;*/
	background: #fff;
	border-bottom: 1px solid #d8e2e7;
	font-family: 'archivo_blackregular';
}

h3.sidebar-brand span{
	color: #00A8FF;
}

/* new style */
.no-padding{padding: 0;}
.panel-heading, .panel-footer {overflow: auto;}

/* bootstrap */
.input-group[class*="col-"] {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
}

/* nice scroll style */
div.nicescroll-rails{z-index: 99999 !important;}

/* bootstrap file upload */
.file-preview div.close{
	position: absolute;
	right: 22px;
	top: 3px;
}

/* texteditor style */
div.panel-body .mce-panel{border: none;}

/* breadcrumb style */
.breadcrumb{
	padding: 11px 15px;
}

/* login style */


.login-wrapper{
	width: 100%;
	height: 100vh;
	background: url('../images/log-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	padding: 15px;
}
.login-content{
	display: table-cell;
	vertical-align: middle;
}

.login-panel{
    background: rgba(249, 249, 249, 0.19) none repeat scroll 0 0;
    border: 2px solid #304b33;
    border-radius: 5px;
    margin: 0px auto;
    max-width: 400px;
    padding: 15px;
    width: 100%;
}

.login-panel a{
	color: #005212;
    display: block;
    padding-top: 2px;
}

.login-panel a:hover{
	color: #1C9C5A;
}

.login-panel-title{
    text-align: center;
    margin-bottom: 50px;
}

.login-panel-title h2{
	color: #222;
}

.login-panel-title h2 span{
	color: #0BFF82;
}

.login-panel-title h4{
	color: #ffffff;
    font-weight: bold;
    text-shadow: 0 2px 1px #000;
}

.login-icon{
	width: 115px;
	height: 115px;
	margin: 0 auto;
	background: #ccc;
	border-radius: 100%;
	display: block;
	margin-bottom: 30px;
	text-align: center;
}

.login-icon i{
	color: #fff;
	padding: 20px;
}

.login-icon img{
	width: 100%;
	height: 100%;
	padding: 15px;
}
.login-form{
	margin-bottom: 60px;
}
.login-field{
    border: 1px solid #ccc;
    display: inline-flex;
    width: 100%;
    background: #fff;
}

.login-field span{
	padding: 7px  0 0 10px;
}

.login-field input{
	border: transparent;
}

.login{
	background: #1fae66;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #000;
	border: 1px solid transparent;
}

.login:hover{
	background: #1C9C5A;
}
.login-panel p a{
	color: #333;
	font-weight: bold;
	text-align: center;
}

.screen-lock img{
	width: 115px;
	height: 115px;
	margin: 0 auto;
	border-radius: 50%;
	padding: 5px;
	display: block;
}

/* lightbox custom style */

div#lightbox{
	position: fixed;
	top: 50px !important;
}

/* gallery style */

.gallery figure{
	/*height: 140px;*/
	float: left;
	background: #ccc;
	margin: 5px;
}

.image-gallery figure{
	width: 195px;
}

.gallery figure .video{
	width:  335px;
	border-left: 3px solid #ccc;
	border-top: 3px solid #ccc;
	border-right: 3px solid #ccc;
}
.gallery figure .video iframe{
	width:  100% !important;
}

.gallery figure img{
	width: 100%;
	height: 100%;
	border-left: 3px solid #ccc;
	border-top: 3px solid #ccc;
	border-right: 3px solid #ccc;
}
.gallery figure a{
	display: block;
}
.all-notice ul li{
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

.all-notice ul li a{
	color: #333;
	display: block;
	padding: 5px;
}
.all-notice ul li:hover{
	background: #ccc;
	transition: .3s;
}

.sidebar-nav ul li a i{
	display: inline;
	margin-right: 5px;
	color: #333 !important;
}

.preview-box{
        border: 1px solid #ccc;
        padding: 8px 5px;
}

/*Alert Message*/
.alert{
 position: relative;
}
.alert .close{
 position: absolute;
 top: 5px;
 right: 8px;
}

/* backend aside menu style */

.sidebar-nav > li > ul{
	background:  #ECEFF4;
}
.sidebar-nav > li > ul > li > a{
	padding-left: 25px !important;
}


/* Table Style */
.table tr th, .table tr td{
	vertical-align: middle !important;
}

/* New Custom Style (23/10/2019) */
.dash-box{
    text-align: center;
	padding: 30px 0;
	color: #fff;
	border-radius: 4px;
	margin: 0 0 15px;
	position: relative;
	overflow: hidden;
}
.dash-box::before{
    content: '';
    display: inline-block;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 0%;
    background: #ffffff11;
    transform: rotate(-45deg) translate(-50%, -50%);
}
.dash-box::after{
    content: '';
    display: inline-block;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    right: 0%;
    background: #ffffff11;
    transform: rotate(45deg) translate(-50%, -50%);
}
.dash-box-1{
	background: #e53935;
	box-shadow: 1px 3px 10px #e5393599;
}
.dash-box-2{
	background: #D81B60;
	box-shadow: 1px 3px 10px #D81B6099;
}
.dash-box-3{
	background: #8E24AA;
	box-shadow: 1px 3px 10px #8E24AA99;
}
.dash-box-4{
	background: #5E35B1;
	box-shadow: 1px 4px 7px #5E35B1c4;
}
.dash-box-5{
	background: #3949AB;
	box-shadow: 1px 4px 7px #3949ABc4;
}
.dash-box-6{
	background: #1E88E5;
	box-shadow: 1px 4px 7px #1E88E5c4;
}
.dash-box-7{
	background: #039BE5;
	box-shadow: 1px 4px 7px #039BE5c4;
}
.dash-box-8{
	background: #0097A7;
	box-shadow: 1px 4px 7px #0097A7c4;
}
.dash-box-9{
	background: #00897B;
	box-shadow: 1px 4px 7px #00897Bc4;
}
.dash-box-10{
	background: #388E3C;
	box-shadow: 1px 4px 7px #388E3Cc4;
}
.dash-box-11{
	background: #689F38;
	box-shadow: 1px 4px 7px #689F38c4;
}
.dash-box-12{
	background: #AFB42B;
	box-shadow: 1px 4px 7px #AFB42Bc4;
}
.dash-box h1{
	margin: 0;
	font-size: 22px;
}
.dash-box span{
	font-size: 16px;
	text-transform: uppercase;
}

.dash-box::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.dash-box:hover::before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}
.margin-top{
	margin-top: 70px;
	
}
@media print{
	aside, nav, .none, .panel-footer, .print_none, .panel-heading, .alert, .dataTables_length, .dataTables_filter, .pagination {
		display: none !important;
	}
	.panel {
		border: 1px solid transparent !important;
		left: 0px !important;
		position: absolute !important;
		top: 0px !important;
		width: 100% !important;
	}
	.hide {display: block !important;}
	.table-bordered {border: none !important;}
	.table-bordered>tbody>tr>td, 
	.table-bordered>tbody>tr>th, 
	.table-bordered>tfoot>tr>td, 
	.table-bordered>tfoot>tr>th, 
	.table-bordered>thead>tr>td, 
	.table-bordered>thead>tr>th {
        border: 1px solid #000 !important;
        padding: 4px 8px;
    }
}


/*new custom css start*/
.report_lable_box {
    display: inline-block;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
}
.report_lable_box label {
    padding: 8px 12px;
    margin: 0;
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}
.test_table p {
    padding: 8px 12px;
    width: 100%;
    border: 1px solid #aaa;
    margin: 15px 0 0;
}
.table_demo caption {text-align: center;}
.test_table h4 {
    margin-top: 50px;
    font-size: 25px;
    min-width: 345px;
    color: #000;
}
.test_table h3 {
    font-size: 19px !important;
    text-align: center;
    background: red;
    display: inline-block;
    margin: 3px auto 10px;
    background: #DDDDDD;
    min-width: 220px;
    padding: 8px 42px;
    font-weight: 500;
    color: #000;
}
.test_table h3 {font-size: 22px;}
/*.table tr th:last-child,*/
/*.table tr td:last-child {text-align: right;}*/
/*.table tr td:last-child {*/
/*    padding-bottom: 4px !important;*/
/*    padding-top: 4px !important;*/
/*}*/
.table tr td .btn {padding: 4px 12px;}
    
/*.table-bordered,*/
/*.table-bordered>tbody>tr>td,*/
/*.table-bordered>tbody>tr>th, */
/*.table-bordered>tfoot>tr>td, */
/*.table-bordered>tfoot>tr>th, */
/*.table-bordered>thead>tr>td, */
/*.table-bordered>thead>tr>th {*/
/*    border-color: #aaa !important;*/
/*}*/
/*new custom css end*/
